body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
h1 {
  color: white;
}
.container {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  padding: 40px;
  border: 4px;
  width: 25%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

label {
  color: white;

  margin-bottom: 4px;
}

input {
  width: 100%;
  padding: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 35px;
  background-color: #ccc;
}
input:focus {
  outline-color: #32a1ce;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 18px;
}

button a {
  color: white;
  text-decoration: none;
}
